.collection-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.collection {
    display: inline-block;
    float: left;
    width: 100%;
}

.collection-group.oneCol .collection {
  width: 100%;
}

.collection-group.twoCol .collection {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
}

.collection-group.twoCol .collection {
  width: 31%;
  margin-left: 1%;
  margin-right: 1%;
}

.collection .image {
    max-width: 50%;
    float: left;
    display: inline;
    margin: 0 5% 0 9px !important;
}

.collection .image img {
    width: 100%;
    height: auto;
}
