.exhibit {
    display: inline-block;
    float: left;
    width: 100%;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
}

.exhibit .image {
    max-width: 50%;
    float: left;
    display: inline;
    margin: 0 5% 0 9px !important;
}

.exhibit .image img {
    width: 100%;
    height: auto;
}

.collection-description p:last-child {
    margin-bottom: 0;
}

.view-items-link {
    display: inline-block;
    margin-top: 0.5em;
}

.exhibit-group.oneCol {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
}

.exhibit-group.twoCol {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

.exhibit-group.threeCol {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}
