.exhibit-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.exhibit {
    display: inline-block;
    float: left;
    width: 100%;
}

.exhibit-group.oneCol .exhibit {
  width: 100%;
}

.exhibit-group.twoCol .exhibit {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
}

.exhibit-group.twoCol .exhibit {
  width: 31%;
  margin-left: 1%;
  margin-right: 1%;
}

.exhibit .image {
    max-width: 50%;
    float: left;
    display: inline;
    margin: 0 5% 0 9px !important;
}

.exhibit .image img {
    width: 100%;
    height: auto;
}

.collection-description p:last-child {
    margin-bottom: 0;
}

.view-items-link {
    display: inline-block;
    margin-top: 0.5em;
}
