.item-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-group-item {
    display: inline-block;
    float: left;
    width: 100%;
}

.item-group.oneCol .item-group-item {
  width: 100%;
}

.item-group.twoCol .item-group-item {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
}

.item-group.threeCol .item-group-item {
  width: 31%;
  margin-left: 1%;
  margin-right: 1%;
}

.item-group-item .item-img {
    max-width: 50%;
    float: left;
    display: inline;
}

.item-img img {
    width: 95%;
}

.item-description {
    display: inline;
}
